@import "tailwindcss";

/*Uso nos TSX: className="bg-primary-500" ou className=" text-gray-900"*/

@theme  {
  /* Primary - Verde */
  --color-primary-100: rgb(169, 201, 107);
  --color-primary-300: rgb(143, 174, 74);
  --color-primary-600: rgb(107, 142, 35);
  --color-primary-700: rgb(86, 114, 29);

  /* Secondary - Bege */
  --color-secondary-100: rgb(255, 255, 242);
  --color-secondary-300: rgb(250, 249, 232);
  --color-secondary-600: rgb(245, 245, 220);

  --color-gray-100: rgb(245, 245, 245);
  --color-gray-200: rgb(229, 229, 229);
  --color-gray-300: rgb(212, 212, 212);
  --color-gray-400: rgb(163, 163, 163);
  --color-gray-500: rgb(115, 115, 115);
  --color-gray-600: rgb(82, 82, 82);
  --color-gray-700: rgb(64, 64, 64);
  --color-gray-800: rgb(38, 38, 38);
  --color-gray-900: rgb(23, 23, 23);

  /* Details - Dourado */
  --color-golden-600: rgb(199, 149, 0);

  /* Shadows */
  --shadow-soft: 0px 4px 10px rgba(0, 0, 0, 0.05);
  --shadow-strong: 0px 8px 24px rgba(0, 0, 0, 0.12);

  /* Fontes - Heading  e body */
  --font-size-h-sm: 18px;
  --font-size-h-sm--line-height: 1.2;
  --font-size-h-md: 22px;
  --font-size-h-md--line-height: 1.2;
  --font-size-h-xl: 25px;
  --font-size-h-xl--line-height: 1.2;
  --font-size-h-2xl: 28px;
  --font-size-h-2xl--line-height: 1.2;
  --font-size-h-4xl: 32px;
  --font-size-h-4xl--line-height: 1.2;

  --font-size-b-xs: 12px;
  --font-size-b-xs--line-height: 1.5;
  --font-size-b-sm: 14px;
  --font-size-b-sm--line-height: 1.5;
  --font-size-b-md: 16px;
  --font-size-b-md--line-height: 1.5;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

.main-content {
  background-color: var(--color-secondary-600);
  background-image: url('./assets/Background.png');
  background-blend-mode: multiply;
  background-size: cover;
}

